form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  width: 80%;
  gap: 0px 15px;
  margin: 0 auto;

  input {
    padding: 5px 0;
    border: none;
    border-bottom: 1px $grey solid;
    background: $white;
  }

  select {
    padding: 5px 0;
    border: none;
    border-bottom: 1px $grey solid;
    background: $white;
  }
}
