.reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 65%;
  margin: 60px auto;
}

.time {
  background: black;

  .border {
    border: 1px dashed $grey;
    margin: 20px;
  }
  h2 {
    color: $white;
    padding-bottom: 30px;
    line-height: 0px;
    font-size: 1.7rem;
  }

  h3 {
    color: $color1;
    padding: 25px 0 0;
    font-family: $font1;
    color: $color1;
    font-size: 2.5rem;
    font-weight: 300;
  }

  h4 {
    color: $color1;
    font-family: $font2;
    padding: 40px 20px 5px 20px;
  }

  h5 {
    color: $color1;
    padding: 40px;
    font-size: 1.5rem;
  }

  p {
    color: $white;
    font-family: $font3;
    font-weight: 100;
    font-size: 0.9rem;
  }

  img {
    padding: 30px 30px 10px;
  }
}

.online {
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  h3 {
    color: $color1;
    font-family: $font1;
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 20px;
  }

  h2 {
    font-family: $font2;
    font-size: 2rem;
    color: $black;
    line-height: 10px;
  }
  img {
    padding: 50px 25px 0 25px;
  }
}
